$font-family-base: 'Poppins', sans-serif;
$sidebar-bg: #2A3042;
$sidebar-text: #F5F5F5;
$navbar-bg: #F5F5F9;
$navbar-text: #2A3042;
$fa-font-path: '../assets/fa6/webfonts';
$app-primary-color: #0F76CC;
$app-secondary-color: #39BBA7;
$app-linear-gradient: linear-gradient(135deg, $app-primary-color 0%, $app-secondary-color 100%);
$link-color: #5271d5;
$link-hover-color: #2B98EE;
$body-bg: #F5F5F9;
$card-bg: #fff;
$body-color: #2A3042;
$font-size-base: 0.875rem;
$app-border-radius: 0.25rem;
